<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*link barra de navegacao*@
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .borda {
            float: left;
            margin: 12px;
            padding: 6px;
            max-width: 300px;
            height: 900px;
        }
    </style>
    <style>
               body {
                   font-family: "Lato", sans-serif;
               }

               ._tabs {
                   margin-top: 40px;
               }

               .tab-pane {
                   padding-top: 20px;
                   background-color: white;
               }

               .panel-body > ul {
                   list-style-type: none;
                   padding: 0;
                   margin: 0;
               }

                   .panel-body > ul > li {
                       border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                   }

                       .panel-body > ul > li > a {
                           display: block;
                           padding: 8px 0;
                           font-weight: 600;
                           font-size: 11px;
                           color: #777777;
                           text-transform: uppercase;
                           text-decoration: none;
                       }

               /*css butao redondo*/

               .profile-panel .profile-info {
                   padding: 0;
                   margin: 20px;
                   list-style: none;
               }

               .panel-footer {
                   border-bottom-left-radius: 4px;
                   border-bottom-right-radius: 4px;
                   color: #fff;
               }

               .panel-footer {
                   padding: 10px 15px;
                   background-color: #f3f5f6;
                   border-top: 1px solid #ddd;
               }

               .panel-default .panel-footer {
                   color: #768399;
                   background-color: #e4e9eb;
                   border: 1px solid #e4e9eb;
                   border-top: none;
               }

               .panel.plain .panel-footer {
                   border-top: none;
               }

               .panel-footer .white-content {
                   color: #768399;
                   background: #fff;
                   background-color: #fff;
               }

               .profile-panel .profile-stats-info a {
                   font-size: 24px;
                   margin-right: 10px;
                   margin-top: 10px;
                   color: #79859b;
               }

               .profile-panel .user-name {
                   margin-top: 10px;
                   font-size: 22px;
                   margin-bottom: 10px;
               }

               .profile-panel .profile-avatar img {
                   border-radius: 50%;
                   border: 1px solid #e7e7e2;
               }

               .profile-panel .profile-avatar {
                   border-radius: 50%;
                   padding: 10px;
                   border: 1px solid #e7e7e2;
                   float: left;
               }

               .panel-default .panel-body {
                   border: 1px solid #e4e9eb;
                   border-top: none;
               }

               .panel-body {
                   padding: 15px;
               }

               .profile-panel .profile-image {
                   border-top-left-radius: 4px;
                   border-top-right-radius: 4px;
               }

               .panel {
                   position: relative;
                   margin-bottom: 25px;
                   border-radius: 4px;
                   border: 0;
                   box-shadow: none;
               }

               .panel-default {
                   border-color: #e4e9eb;
               }

               .panel.plain .panel-default .panel-heading {
                   border: 1px solid #e4e9eb;
                   border-bottom: none;
               }

               .panel.plain .panel-heading {
                   border-bottom: none;
               }

               .panel.panel-default .panel-heading {
                   color: #768399;
               }

               .panel-heading .white-content {
                   color: #768399;
                   background: #fff;
                   background-color: #fff;
               }

               .panel-default .panel-heading {
                   color: #768399;
                   background-color: #e4e9eb;
                   border-color: #e4e9eb;
               }

               .white-content {
                   color: #768399;
                   background: #fff;
                   background-color: #fff;
               }

               .p-left {
                   padding-left: 0 !important;
               }

               .p-right {
                   padding-right: 0 !important;
               }

               .panel-heading {
                   padding: 0 15px;
                   min-height: 4px;
                   border-top-left-radius: 4px;
                   border-top-right-radius: 4px;
               }

               #login-dp {
                   min-width: 250px;
                   padding: 14px 14px 0;
                   overflow: hidden;
                   background-color: rgba(255,255,255,.8);
               }

                   #login-dp .help-block {
                       font-size: 12px;
                   }

                   #login-dp .bottom {
                       background-color: rgba(255,255,255,.8);
                       border-top: 1px solid #ddd;
                       clear: both;
                       padding: 14px;
                   }

                   #login-dp .social-buttons {
                       margin: 12px 0;
                   }

                       #login-dp .social-buttons a {
                           width: 49%;
                       }

                   #login-dp .form-group {
                       margin-bottom: 10px;
                   }

               .btn-fb {
                   color: #fff;
                   background-color: #3b5998;
               }

                   .btn-fb:hover {
                       color: #fff;
                       background-color: #496ebc;
                   }

               .btn-tw {
                   color: #fff;
                   background-color: #55acee;
               }

                   .btn-tw:hover {
                       color: #fff;
                       background-color: #59b5fa;
                   }

               /**
        * Demo Styles
        */

               html {
                   height: 100%;
                   box-sizing: border-box;
               }

               *,
               *:before,
               *:after {
                   box-sizing: inherit;
               }

               body {
                   position: relative;
                   margin: 0;
                   padding-bottom: 6rem;
                   min-height: 100%;
                   font-family: "Helvetica Neue", Arial, sans-serif;
               }

               .demo {
                   margin: 0 auto;
                   padding-top: 64px;
                   max-width: 640px;
                   width: 94%;
               }

                   .demo h1 {
                       margin-top: 0;
                   }

               /**
        * Footer Styles
        */

               .footer {
                   position: absolute;
                   right: 0;
                   bottom: 0;
                   left: 0;
                   padding: 1rem;
                   background-color: #efefef;
                   text-align: center;
               }
    </style>

</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div style="margin-left:70px; margin-right:30px;" class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index"> <img width="180" height="50" class="img-responsive" src="~/Content/Imagens/Logo3.png" /> </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Home/Index">Página Inicial</a></li>
                    <li><a href="~/Home/About">Sobre Nós</a></li>
                    <li><a href="~/Home/Termos">Termos e Condições</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">Copyright © 2017 <strong> My Book List | <a href="/Home/About">Sobre nós</a> </strong>.</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>
</html>
