@model IEnumerable<MyBookList.Models.Autor>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pseudonimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Biografia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pseudonimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Biografia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Autor }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Autor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Autor })
        </td>
    </tr>
}

</table>
